<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Status Page - Lucism</title>
    <link rel="icon"
        href="https://raw.githubusercontent.com/Luciism/luciism.github.io/refs/heads/main/public/branding/favicon.ico" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Luciism/luciism.github.io@main/src/index.css" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/static/script.js"></script>
</head>

<body>
    <main class="standard-section page-margins">
        <div class="page-heading">
            <p class="headline-medium color-primary">Lucism</p>
            <h1>Status Page</h1>
        </div>
        <div id="project-statuses-container"></div>

        <a class="padded-btn" href="https://lucism.dev/">
            <iconify-icon icon="ic:round-home" width="16" height="16"></iconify-icon>
            <span>Return Home</span>
        </a>
    </main>
</body>

</html>
